EXP_DIR: faster_rcnn_end2end
TRAIN:
  SNAPSHOT_ITERS: 5000
  HAS_RPN: True
  IMS_PER_BATCH: 1
  BBOX_NORMALIZE_TARGETS_PRECOMPUTED: True
  RPN_POSITIVE_OVERLAP: 0.65
  RPN_BATCHSIZE: 256
  PROPOSAL_METHOD: gt
  BG_THRESH_LO: 0.0
  LEARNING_RATE: 0.0005
  STEPSIZE: 50000
  GAMMA: 0.5
  SNAPSHOT_PREFIX: resnet1200
  SCALES:
    - 1200
  MAX_SIZE: 1200
TEST:
  HAS_RPN: True
  SCALES:
    - 1200
  MAX_SIZE: 1200
